.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    margin-bottom: 0px;
    padding-bottom: 5px;
    height: 50px;
}
.header__right {
    display: flex;
    flex-direction: row;
}
.header__rightLogo {
    height: 3.5vh;
    width: 10vh;
    padding-right: 10px;
}
.header__rightContent {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
}
.header__rightContentText {
    padding-left: 10px;
    padding-right: 10px;
}

.dropDownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown {
    display: flex;
}
.dropdown:hover .dropDownContent {
    display: block;
}
.dropDownContent p:hover {
    color: rgb(70,169,48);
    font-size: 17px;
}
.dropDownArrow {
    margin-left: 2px;
}
.header__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header_leftLoginButton {
    margin-bottom: auto;
    margin-top: auto;
}
.header_leftLoginButton {
    color: #067A46;
    background-color: transparent;
    border-radius: 5px;
    border-color: #067A46;
    height: 40px;
    font-size: 17px;
    width: 90px;
}